$color-bronze: #8b6328;
$color-silver: #6e748a;
$color-core: #1d659f;
$color-bg: #39251c;
$color-gold: #726636;
$color-gold-bg: rgba(115, 103, 54, 0.4);
$color-blue: #1b9fc3;
$color-pointer: #b1ba61;
